<%= search_form_for @search, url: contents_path do |f| %>
  <div class="input-group align-items-center">
    <%= f.text_field :title_cont, placeholder: "推しを探す！", class: "form-control" %>
    <span class="input-group-btn">
      <%= button_tag type: "submit", class: "btn btn-outline-info" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </span>
  </div>
<% end %>