<%= search_form_for(q, url:content_events_path), class: "d-flex" do |f| %>
  <div class="input-group">
    <%= f.text_field :title_cont, placeholder: "search", class: "form-control" %>
    <span class="input-group-btn">
      <%= button_tag type: "submit", class: "btn btn-outline-info" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </span>
  </div>
<% end %>