<li class="nav-link text-light">
  <%= link_to contents_path, class: "header-button" do %>
    <button type="button" class="text-nowrap btn btn-outline-info">コンテンツ一覧</button>
  <% end %>
</li>
<li class="nav-link text-light">
  <%= link_to new_end_user_registration_path, class: "header-button" do %>
    <button type="button" class="text-nowrap btn btn-outline-info">新規登録</button>
  <% end %>
</li>
<li class="nav-link text-light">
  <%= link_to new_end_user_session_path, class: "header-button" do %>
    <button type="button" class="text-nowrap btn btn-outline-info">ログイン</button>
  <% end %>
</li>
<li class="nav-link text-light">
  <%= link_to end_users_guest_sign_in_path, method: :post, class: "header-button" do %>
    <button type="button" class="text-nowrap btn btn-outline-secondary">ゲストログイン（閲覧用）</button>
  <% end %>
</li>
