<li class="nav-link text-light">
  <%= link_to contents_path, class: "header-button" do %>
    <button type="button" class="text-nowrap btn btn-outline-secondary">コンテンツ一覧</button>
  <% end %>
</li>
<li class="nav-link text-light">
  <%= link_to new_user_registration_path, class: "header-button" do %>
    <button type="button" class="text-nowrap btn btn-outline-secondary">新規登録</button>
  <% end %>
</li>
<li class="nav-link text-light">
  <%= link_to new_user_session_path, class: "header-button" do %>
    <button type="button" class="text-nowrap btn btn-outline-secondary">ログイン</button>
  <% end %>
</li>