<%= search_form_for @search, url: admin_contents_path do |f| %>
  <div class="input-group">
    <%= f.text_field :title_cont, placeholder: "search", class: "form-control" %>
    <span class="input-group-btn">
      <%= button_tag type: "submit", class: "btn btn-outline-secondary" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </span>
  </div>
<% end %>