<li class="nav-link text-light">
  <%= link_to admin_contents_path, class: "header-button" do %>
    <button type="button" class="text-nowrap btn btn-outline-info">コンテンツ一覧</button>
  <% end %>
</li>
<li class="nav-link text-light">
  <%= link_to admin_users_path, class: "header-button" do %>
    <button type="button" class="text-nowrap btn btn-outline-info">ユーザー一覧</button>
  <% end %>
</li>
<li class="nav-link text-light">
  <%= link_to destroy_admin_session_path, method: :delete, class: "header-button" do %>
    <button type="button" class="text-nowrap btn btn-outline-secondary">ログアウト</button>
  <% end %>
</li>